<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icelandic Learning With Games</title>
</head>
<body>
    <h1>Welcome to Icelandic Learning With Games!</h1>
    
</body>
</html>