<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icelandic Learning With Games</title>
</head>
<body>
    <div class="content">
        <div class="textBox">
            <h2>Icelandic Learning Online, made <span>fun</span></h2>
            <p>This website is dedicated to learning Icelandic in a fun way, using games.</p>
        </div>
    </div>
    </section>
    
</body>
</html>