<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
</head>
<body>
    <div class="container">
        <h1>Memory game</h1>
        <h2>Find pairs!</h2>
        <div class="game"></div>
        <button class="reset" onclick="window.location.reload();">Reset Game</button>
    </div>

    <% if(locals.data.topic) { %>
        <% var sendTopic = data.topic %>
        <% } %>
    
    <script>
const matches = {
    '游꼝': 'epli',
    '游꼟': 'pera',
    '游꼛': 'banani',
    '游꼙': 'appels칤na',
    '游꼚': 's칤tr칩na',
    '游꼡': 'jar칧arber',
    '游꼖': 'v칤nber',
    '游': 'kirsuber',
    '游븬': 'laukur',
    '游븫': 'hv칤tlaukur',
    '游볪': 'kartafla',
    '游볫': 'gulr칩t',
    '游': 'g칰rka',
    '游꼓': 'sveppur',
    '游볿': 'k치l',
    '游볹': 'brokkol칤',
    '仇벒잺': 'rau칧ur',
    '游비': 'appels칤nugulur',
    '游눝': 'gulur',
    '游눜': 'gr칝nn',
    '游눛': 'bl치r',
    '游눞': 'fj칩lubl치r',
    '游밼': 'hv칤tur',
    '游둯': 'svartur'
}

var topic = "<%=sendTopic%>";
if(topic==='fruits') {
    var emojis = ["游꼝", "游꼝", "游꼟", "游꼟", "游꼛", "游꼛", "游꼙", "游꼙", "游꼚", "游꼚", "游꼡", "游꼡", "游꼖", "游꼖", "游", "游"];
}
if(topic==='vegetables') {
    var emojis = ["游븬", "游븬", "游븫", "游븫", "游볪", "游볪", "游볫", "游볫", "游", "游", "游꼓", "游꼓", "游볿", "游볿", "游볹", "游볹"];
}
if(topic==='colours') {
    var emojis = ["仇벒잺", "仇벒잺", "游비", "游비", "游눝", "游눝", "游눜", "游눜", "游눛", "游눛", "游눞", "游눞", "游밼", "游밼", "游둯", "游둯"];
}

var shuf_emojis = emojis.sort(() => (Math.random() > .5)  ? 2:-1);


for (let i=0; i<emojis.length ;i++) {
    let box = document.createElement('div');
    box.className = 'item';
    box.innerHTML = shuf_emojis[i];

    box.onclick = function() {
        this.classList.add('boxOpen');
        setTimeout(function(){
            if(document.querySelectorAll('.boxOpen').length > 1){
                if(document.querySelectorAll('.boxOpen')[0].innerHTML === document.querySelectorAll('.boxOpen')[1].innerHTML) {
                    document.querySelectorAll('.boxOpen')[0].classList.add('boxMatch');
                    document.querySelectorAll('.boxOpen')[1].classList.add('boxMatch');

                    let fruitEmoji = document.querySelectorAll('.boxOpen')[0].innerHTML;
                    if (fruitEmoji in matches) {
                        let fruitName = matches[fruitEmoji];
                        updateH2(fruitName);
                        playSoundMatch(fruitName);
                    } else {
                        console.log("Error with fruit name.")
                    }

                    document.querySelectorAll('.boxOpen')[1].classList.remove('boxOpen');
                    document.querySelectorAll('.boxOpen')[0].classList.remove('boxOpen');

                    if(document.querySelectorAll('.boxMatch').length == emojis.length) {
                        document.querySelector('h1').innerText = 'Well done!';
                    }
                    } else {
                        document.querySelectorAll('.boxOpen')[1].classList.remove('boxOpen');
                        document.querySelectorAll('.boxOpen')[0].classList.remove('boxOpen');
                    }
                }
        },500)
        document.querySelector('h2').innerText = 'Find more pairs!';
    }
    document.querySelector('.game').appendChild(box);
}

function playSoundMatch(fruitEmoji) {
    var audio = new Audio(`audio/${topic}/${fruitEmoji}.ogg`);
    audio.play();
}

function updateH2(fruitName) {
    document.querySelector('h2').innerText = fruitName;
}
    </script>
</body>
</html>