<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        body {padding-top: 80px;}
    </style>
</head>
<body>
    <div class="container">
    <h1>Select which topic you would like to practice.</h1>
    <% if (locals.topicsList) { %>
    <form method="post" action="/submit">
        <% for(let topic of topicsList) { %>
        <input id="menuButton" type="submit" name="topic" value="<%=topic.topic_name_eng%>: <%=topic.topic_name_is%>"/>
        <% } %>
      </form>
      <% } %>
    </div>
</body>
</html>