header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header ul {
    background-color: #bbe2eb;
    color: #134B70;
    font-size: 1.25rem;
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }

header ul li {
    display: inline;
    padding-left: 40px;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #134B70;
    padding-right: 20px;
}

@media (width <= 1250px) {
    header ul li a {font-size: 1rem;} 
    header ul {padding: 5px;}
}