* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4rem;
    min-height: 100vh;
    background: #134B70;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #508C9B;
    padding: 40px 60px;
}

h1 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 0.1em;   
}

h2 {
    font-size: 2em;
    color: #fff;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    background: #EEEEEE;
    color: #508C9B;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    background: #bbe2eb;
    color:  #EEEEEE;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #bbe2eb;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen:after, .boxMatch:after {
    transform: rotateY(180deg);
}

form input {
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    font-size: 1.3em;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #bbe2eb;
    color: #134B70;
}

form input:hover {
    background: #134B70;
    color: #bbe2eb;
}

h2#topicName {
    background-color: #508C9B;
    padding: 6px 5px;
    width: 100%;
}


td, th {
    font-size: 1.5em;
    padding-bottom: 5px;
    text-align: start;
}

td {
    font-size: 1.3em;
}

.dictionary {
    margin-bottom: 20px;
    background-color: #bbe2eb;
    color: #134B70;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button.sound {
    background-color: #bbe2eb;
    color: #134B70;
    border: none;
    letter-spacing: 0.1em;
    cursor: pointer;
}

svg {
    width: 21px;
    height: 21px;
}

table {
    position: relative;
    width: 100%;
    padding: 5px 10px;
}