* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.iceland-background {
    width: 100%;
    background-image: url("../images/robert-lukeman-zNN6ubHmruI-unsplash.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    transition: background-image 5s ease-in-out;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #2E3135;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 15px 15px;
}

.content .textBox h2 {
    color: #2E3135;
    font-size: 3.5em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #7AB2D3;
    font-size: 1em;
    font-weight: 600;
}

.content .textBox p {
    color: #2E3135;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #7AB2D3;
    padding: 40px 60px;
}

h3 {
    font-size: 1.5em;
    color: #B9E5E8;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    background: #B9E5E8;
    color: #7AB2D3;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    background: #B9E5E8;
    color:  #FFF;
}

.game {
    width: 430px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #B9E5E8;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen:after, .boxMatch:after {
    transform: rotateY(180deg);
}

form input#menuButton {
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    font-size: 1.3em;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #B9E5E8;
    color: #2E3135;
}

#menuButton:hover {
    background: #2E3135;
    color: #B9E5E8;
}

h2#topicName {
    background-color: #7AB2D3;
    padding: 6px 5px;
    width: 100%;
}


td, th {
    font-size: 1.5em;
    padding-bottom: 5px;
    text-align: start;
}

td {
    font-size: 1.3em;
    width: 140px;
}

th#centeredColumn, td#centeredColumn {
    text-align: center;
}

.dictionary {
    margin-bottom: 20px;
    background-color: #B9E5E8;
    color: #4A628A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
}

button.sound {
    background-color: #B9E5E8;
    color: #4A628A;
    border: none;
    letter-spacing: 0.1em;
    cursor: pointer;
}

svg {
    width: 21px;
    height: 21px;
}

table {
    position: relative;
    width: 100%;
    padding: 5px 10px;
}

.flashcardImg {
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    border-radius: 20px;
}

.letterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterContainer > * {
    display: inline-block;
}

button.icelandicLetter {
    width: 30px;
    height: 30px;
    padding: 2px 2px;
    margin-right: 5px;
    border-radius: 2px;
    background-color: #B9E5E8;
    color: #2E3135;
    border: none;
    letter-spacing: 0.1em;
    cursor: pointer;
}

button.icelandicLetter:focus {
    background: #B9E5E8;
    color:  #EEEEEE;
}

@media (width <= 1250px) {
    header ul li a {font-size: 1rem;} 
    header ul {padding: 5px;}
}